# Talos / Kubernetes credentials
talos/talosconfig
talos/kubeconfig
talos/controlplane.yaml
talos/worker.yaml
talos/*.pem
talos/*.key
talos/*.crt
talos/*.csr
talos/support-*.zip

# Local Kubectl
.kube/
*.log


# Terraform
.terraform/
*.tfstate*
.crash
*.lock.hcl
*.tfstate.backup
.terraform.lock.hcl
crash.log
*.tfvars
*.tfvars.json

# AWS credentials
*.pem
*.key

# Editor files
.DS_Store
.idea/
.vscode/
*.swp

