default_stages: [pre-commit]

repos:
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.96.3
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive

      - id: terraform_validate

      - id: terraform_tflint

      - id: terraform_trivy
        args:
          - --hook-config=--parallelism-limit=1
          - "--args=--severity=CRITICAL"
          - "--args=--skip-dirs=**/.terraform"

      - id: terraform_docs
        args:
          - --hook-config=--create-file-if-not-exist=true
          - "--args=--lockfile=false"
